<html>

<head>
    <style>
        .verification {
            font-weight: bold;
            color: blueviolet;
            font-style: italic;
        }
    </style>
</head>
<p>Hi <strong>{{firstName}} {{lastName}},</strong></p>
<p>Your varification code is <b class="verification">{{varification}}</b></p>
<p>Regards</p>
<p><b>Aniket Verma</b></p>

</html>